QA_API_PROJECT_NAME="QualidadeAmbiental API"
QA_API_PROJECT_DESCRIPTION="API REST para consulta de dados de qualidade ambiental."
QA_API_API_VERSION="0.1.0"
QA_API_API_V1_PREFIX="/api/v1"

QA_API_ENVIRONMENT="local"
QA_API_DEBUG=true

QA_API_DB_SERVER="localhost"
QA_API_DB_PORT=1433
QA_API_DB_NAME="QualidadeAmbiental"
QA_API_DB_USER="usuario_readonly"
QA_API_DB_PASSWORD="senha"
QA_API_DB_DRIVER="ODBC Driver 18 for SQL Server"
QA_API_DB_ENCRYPT="no"
QA_API_DB_TRUST_SERVER_CERTIFICATE=true
